* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

.container {
      width: 80%;
      min-height: 90px;                                                                        
      border: 1px solid #000; 
       margin: auto;
      display: grid ;
      gap: 6px;
      grid-template-columns: repeat(3 , 1fr);
      grid-template-rows: auto auto 250px auto 80px;
      grid-template-areas:
      "header header header" 
      "slider slider slider " 
      "box1 box2 box3"
      "content content content"
      "footer footer footer";
      background-color: #F5E8C7;
      
}       

.header {
    grid-area: header;
    background-color: #574964;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.header .logo {
     width: 20%; 
    }

.header .logo ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1px;
}

  .logo ul li h1 {
    color: black;
    font-size: 2.6em;
    font-weight: 100px;
  }

.logo ul li img 
{
    width: 90px;
    height: 80px;
}
  .header .menu {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto;

  }
.header .menu ul {
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;
      gap: 1px; 
    

}
.menu ul li a {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 300;
    color: black;
     padding: 8px;
}

  .menu ul li a:hover {
    background-color: aliceblue;
    color: #000;
    /* border-radius: 5px; */
   
  }

.slider {
    background-color: #97866A;
    grid-area: slider;
    width: 100%;
    /* height: 80px */
}

.slider img {
    width: 100% ;
}

.box1 {
     grid-area: box1;
     /* border: 1px solid #000; */
     border-radius: 10px;
    background-color: #735557;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; 
    /* padding: 20px;
    color: white;
    font-size: 1.4rem; */
}

.box1 img {
  width: 100%;
  height: auto;
  padding: 5px;
}

.box2 {
    background-color: #735557;
    grid-area: box2;
    /* border: 1px solid #000; */
    border-radius: 10px;
     -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /* padding: 20px;
    color: white;
    font-size: 1.4rem; */
}

.box2 img {
  width: 100%;
  height: auto;
  padding: 5px;
}

 .box3 {
    grid-area: box3;
    background-color: #735557;
    border-radius: 10px;
     -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /* padding: 20px;
    color: white;
    font-size: 1.4rem; */
 }

   .box3 img {
  width: 100%;
  height: auto;
  padding: 5px;
} 

 .content {
    /* background-color: #604652; */
    grid-area: content;
    /* padding: 20px;
    font-size: 1.4em; */
 }

 .content .row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
 }

 .row .col {
  gap: 2px;
  width: 98%;
  /* align-self: center;
  justify-content: center; */
   /* border: 1px solid #000; */
   border-radius: 10px;
   -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
 }

   .row .col img {
    width: 100%;
    padding: 5px;
    height: 100%;
   }

 .footer {
    background-color: #574964;
    grid-area: footer;
    /* color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem; */
    
 }

 .items {
    /* padding: 10px; */
    color: black;
   }

   .footer {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .footer p {
    font-size: 1.2em;
   }