/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background: #ffffff;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    align-items: center;
     justify-content: space-between; 
    border-bottom: 1px solid #eee;
    color: #234C6A;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 1px;
}

.logo-area img {
    width: 40px;
}

.menu {
    display: flex;
    gap: 30px;
    font-size: 16px;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.right-buttons a {
    margin-left: 15px;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 8px;
}

.login {
    color: #000;
    font-weight: 600;
}

.signup {
    background: #0bbfff;
    color: white;
    font-weight: 600;
}

/* CONTENT AREA */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 50px 20px;
}

h3 {
    font-size: 25px;
    font-weight: 300;
    margin:0;
    color: #0A5EB0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 10px 0;
}

p.description {
    font-size: 18px;
    width: 70%;
    line-height: 1.6;
    margin-bottom: 40px;
}

/* GRID CARDS */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    position: relative;
    height: 160px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 16;
    z-index: 1;
}

.card span {
    position: relative;
    z-index: 2;
    color: #FCF9EA;
}

/* FOOTER */
.footer {
    padding: 60px;
    background: #f9f9f9;
    margin-top: 50px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 60px;
}

.footer-grid h4 {
    margin-bottom: 15px;
}

.footer-grid a {
    display: block;
    margin: 6px 0;
    text-decoration: none;
    color: #666;
}

.bottom-bar {
    border-top: 1px solid #eee;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-left {
    display: flex;
    align-items: center;
    gap: 1px;
    color: #0A5EB0;
}

.bottom-left img {
    width: 40px;
}

.status {
    font-size: 14px;
    color: green;
}
